body {
  background-color: #12171f;
}

h2 {
    color: #4285F4 ;
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-family: "Segoe UI";
    font-weight: 700;
    font-size: xx-large;
    line-height: 1.2;

  }

h3 {

    margin-top: 0;
    margin-bottom: 0.5rem;
    font-family: "Segoe UI Symbol";
    font-weight: 600;
    font-size: larger;
    line-height: 1.2;
    
  }

p {
    font-size: 0.16in;
}
